.header-layout{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.35rem;
}

.header-avatar {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  background-color: var(--primary-theme);
}