:root{
  --background-color: #f7f8fc;
  --foreground-color: white;
  --foreground-color2: #f6f6f8;
  --highlight-color: #f0f0f0;
  --primary-text-color: #747474;
  --secondary-text-color: #cfcfd0;
  --highlight-text-color: #3e3e3e;
  --dark-background-text-color: white;
  --dark-background-text-color-secondary: #dcdcdc;
  --primary-theme: #8d56ff;
  --primary-theme-gradient: #a747f6;
  --success: #36c456;
  --danger: #dc3948;
}