:root{
  --background-color: #f7f8fc;
  --foreground-color: white;
  --foreground-color2: #f6f6f8;
  --highlight-color: #f9f9f9;
  --primary-text-color: #747474;
  --secondary-text-color: #9a9a9a;
  --highlight-text-color: #3e3e3e;
  --dark-background-text-color: white;
  --dark-background-text-color-secondary: #dcdcdc;
  --primary-theme: #8853FF;
  --primary-theme-gradient: #9E60FE;
  --success: #36c456;
  --danger: #dc3948;
}