@mixin fa-box-shadow() {
  box-shadow: 0 0 10px 1px rgba(black, 0.06);
}

@mixin theme-gradient() {
  background: linear-gradient(105deg, var(--primary-theme-gradient) 0%, var(--primary-theme) 70%);
}

@mixin fa-icon($size: 16px) {
  width: $size;
  height: $size;
  display: inline-block;

  svg path{
    fill: var(--secondary-text-color);
  }
}