$small-padding: 0.2rem;
$normal-padding: 0.3rem;
$big-padding: 0.5rem;

// font sizes
$big-font-size: 1.3rem;
$normal-font-size: 1rem;
$small-font-size: 0.8rem;
$smallest-font-size: 0.7rem;

$border-radius: 10px;