@import "src/theme/variables";
@import "src/theme/mixins";

.side-menu-layout{
  //position: fixed;
  flex: 0.3;
  height: 100%;

  .side-menu-fixed {
    height: 100vh;
    color: var(--dark-background-text-color);
    padding-left: 1rem;
    @include theme-gradient;
    position: fixed;
  }
}
